.about {
    padding: 50px 0 57px 0;
    
    &__wrapper {
        margin-top: 37px;
        display: grid;
        grid-template: minmax(210px, auto)/ repeat(auto-fill, 310px);
        justify-content: space-around;
        row-gap: 30px;

        &-item {
            width: 360px;
            img {
                width: 100%;
            }
        }
        &-descr {
            text-align: center;
            padding-top: 28px;
        }
        &-title {
            color: $main-color;
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
        }
        &-text {
            text-align: center;
            padding-top: 10px;
            font-size: 14px;
            font-weight: 300;
            color: #3a3a3a;
            width: 100%;
        }
    }
}