@media (max-width:1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        
        
        &__contacts {
            flex-direction: column;
        }
        &__nav {
            font-size: 16px;
        }
        &__tel {
            font-size: 14px;
            margin: 0;
        }
        &__number {
            display: flex;
         justify-content: flex-end;
        }
       
    }
    .main {
        &__title {
            font-size: 45px;
        }
        &__descr {
            font-size: 30px;
        }
        &__divider-one, &__divider-two {
            width: 320px;
        }
        &__wrapper-item {
            width: 230px;
        }
    }
    .advantages {
        &__wrapper {
            column-gap: 40px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .about {
        &__wrapper {
            &-item {
                width: 310px;
            }
        }
        
    }
    .price {
        &__wrapper {
            &-item {
                width: 230px;
            }
        }
    }
    .map {
        &__info {
            left: 58%;
        }
        &__tear {
            left: 30%;
        }
    }
   
    
}
@media (max-width: 992px) { 
    .container {
        max-width: 720px;
    }
    .header {
        &__nav {
            font-size: 13px;
        }
        &__logo {
            width: 50px;
            height: 50px;
            img {
                width: 100%;
            }
        }
        &__contacts {
            display: flex;
            flex-direction:column ;
            align-items: flex-end;
        }
        &__tel {
            margin: 0;
        }
        
        &__button {
            width: 125px;
        }
    }
    .main {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: -15px;
        }
        &__wrapper-item {
            width: 300px;
            margin-bottom: 15px;
        }
        &__title {
            font-size: 35px;
        }
        &__descr {
            font-size: 25px;
        }
        &__divider-one, &__divider-two {
            width: 210px;
        }
        
    }
    .advantages {
        &__wrapper {
            column-gap: 10px;
            grid-template-columns: repeat(2, 1fr);
        }
        &__item {
            column-gap: 5px;
        }
        &__item-left {
            margin: 0;
            img {
                margin: 0;
            }
        }
    }
    .about {
        &__subtitle {
            padding: 0;
        }
        &__wrapper {
           
            margin-bottom: -10px;
        }
        &__wrapper-item {
            margin-bottom: 20px;
        }

    }
    .agent {
        &__subtitle {
            padding: 22px 0 0 0;
        }
    }
    .price {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
            
            &-item {
                width: 270px;
                margin-bottom: 10px;  
                
                
            }
        }
    }
    .consultation {
        &__wrapper {
            input {
                min-width: 200px;
            }
        }
    }
    .menager {
        &__subtitle {
            padding: 22px 0 0 0;
        }
    }
    .scheme {
        &__wrapper-first {
            grid-template: minmax(115px,auto)/repeat(2,1fr);
            row-gap: 15px;
        }
        &__wrapper-second {
            grid-template: minmax(115px,auto)/repeat(2,1fr);
            row-gap: 15px;
        }
    }
    .review {
        .next {
            right: 35%;
        }
        .prev {
            left: 35%;
        }
    }
    .map {
        &__info {
            left: 58%;
        }
        &__tear {
            left: 22%;
        }
    }
    .footer {
        
        &__title {
            margin-left: 10px;
        }
        &__tel {
            
            font-size: 15px;
            margin-right: 5px;
        }
        &__contacts {
            flex-direction: column;
            align-items: flex-end;
        }
    }
}
@media (max-width: 768px) { 
    .container {
      max-width: 540px;  
    }
    .main {
        .hamburger {
        display: flex;
        }
    }
    .menu {
        &__block {
            width: 300px;
            padding: 140px 0 0 25px;
        }
    }
    .scheme {
        &__wrapper {
            &-second {
                margin-top: 80px;

            }
        }
    }
    
    .header {
        &__wrapper {
            justify-content: space-around;
        }
        nav {
            display: none;
        }
        &__contacts {
            flex-direction: row;
        }
        &__tel {
            margin-right: 15px;
        }
    }
    .advantages {
        &__wrapper {
            grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
        }
    }
    .consultation {
            &__wrapper {
                min-height: 265px;
                padding: 60px 0;
                flex-direction: column;
            
            &-btn { 
                bottom: -20px;
            }
        }
    }
    .map {
        &__tear {
            left: 10%;
        }
    }

}

@media (max-width: 576px) {
    .title {
        font-size: 21px;
    }
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .menu {
        &__block {
            width: 250px;
            padding: 140px 0 0 15px;
        }
    }
    .header {
        &__tel {
            margin-right: 20px;
        }
        &__button {
            display: none;
        }
    }
    .main {
        &__subtitle {
            font-size: 16px;
        }
        &__title {
            font-size: 27px;
        }
        &__descr {
            font-size: 16px;
        }
        &__button {
            width: 200px;
            height: 50px;
        }
    }
    .advantages {
        
        &__wrapper {
            grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
        }
    }
    .about {
        
        &__subtitle {
            line-height: 20px;

        }
    }
    .scheme {
        .title {
            font-size: 21px;
        }
        &__wrapper-first, &__wrapper-second {
            grid-template: minmax(115px,auto)/ 1fr;
            column-gap: 10px
            
        }
        
    }
    .review {
        &__subtitle {
            padding: 0;
        }
        .prev, .next  {
            bottom: 50%;
        }
        .prev {
            left: 20%;
        }
        .next {
            right: 20%;
        }
    }
    .contacts {
        &__wrapper-form {
            grid-template: repeat(5, minmax(47px, auto)) / 1fr
            
        }
        #text {
            grid-column: unset;
        }
        #button_form{
            /* grid-template-columns: none; */
            grid-column: unset;
        }
    }
    .map {
        &__info {
            width: 220px;
            padding: 14px 13px;
            left: 200px;
            top: 55%;
        }
        &__tear {
            left: 3%;
        }
    }
    .footer {
        &__title {
            display: none;
        }
        &__police {

        }
        &__ears, &__bild {
            font-size: 11px;
        }
        
    }
}