.menager {
    background: url(../img/background/background-menager.png) center center/ cover no-repeat;
    padding: 58px 0 76px;
    &__title {
        margin-top: 20px;
        color: #fff;
    }
    &__subtitle {
        color: #fff;
    }
    
}